<mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.title | uppercase }}</mat-card-title>
      <mat-card-subtitle>{{product.price | currency}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="crop-image">
        <img mat-card-image [src]="product.image" alt="product">
      </div>
      <p>{{product.description | slice:0:10 }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addCart(product)">Añadir al carrito</button>
        <a mat-raised-button [routerLink]="['/products/',product.id]">Ver Mas</a>
    </mat-card-actions>
  </mat-card>