:host {
    background-color: green;
    size: 200px 200px;
    display: block;
}

.container-404 {
    border: 1px red solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__interna {
    border: 1px red solid;
}
